body{
    overflow:auto;
}

.wrap{
    width:960px;
    position:relative;
    margin:auto;
        top:-410px;
        overflow:visible;
}
.blog_header{
    position:relative;
    width:100%;
    height: 86px;
    background-color: #121212;
    display:none;
}

.blog_header #logo{
    position:relative;
    width: 242px;
    height: 81px;
    position: relative;
    z-index: 120;
    margin:auto;
    display:block;
}

.tumblr_buttons{
    position:absolute;
    top:2px;
    right: 2px;
    width:200px;
    height:24px;
    text-align:right;
}

.social_buttons{
    position:absolute;
    right:2px;
    top:0px;
}

.player{
    display:block;
    bottom:auto;
    top: 0px;
    position:relative;
}



.posts {
    position:relative;
    display:none;
}

.post{
    position:relative;
    height:410px;
    overflow:hidden;


}

.post_top{
    position:relative;
    height:140px;
    background-color:#343434;
    overflow:visible !important;
}


.post_top:before{
    content:'';
    position:absolute;
    width:100%;
    height:8px;
    z-index:1000;
background: -moz-linear-gradient(top, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.85)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(top, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}





.post.dvbbs .post_top, .post.dvbbs .post_bottom, .post.dvbbs .post_middle{

background:none;


}

.post.dvbbs{
    background-image:url(/images/blog_pattern_blur.gif);

}




.post_middle{
    position:relative;
    height:140px;
    background-color:#121212;

}

.post_bottom{
    position:relative;
    height:140px;
    background-color: #343434;

}

.post.alex .post_top, .post.alex .post_middle, .post.alex .post_bottom, .post.chris .post_top,  .post.chris .post_middle, .post.chris .post_bottom{
    background:none;
}

.post.alex{
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url(/images/blog_alex_bg.jpg);
}

.post.chris{
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url(/images/blog_chris_bg.jpg);
}


.post_content{
    position:relative;
    width: 518px;
    height: 364px;
    top:14px;

}

.post{
    position:relative;
    max-width:1388px;
    margin:auto;
    border-left:8px solid #fff;
    border-right:8px solid #fff;
}


.post.alex .post_content{
    left:-20px;
}

.post.chris .post_content{
    right:-60px;
}

.post.dvbbs .post_content{
    left:260px;
}

.post.dvbbs .post_title{
    right:-100px;
}

.post.chris .post_content{
    left:550px;
}



.post_date{
    position:absolute;
    left:0px;
    top:0px;
    font-size:10px;
    color: #000;
    font-family: sans-serif;
    width:200px;
    background-color:#fff;
    height:20px;
    padding-left:9px;
    padding-top:7px;
    text-transform:uppercase;  
    
}

.post.video .post_date{
    width:409px;
}

.post_caption{
    position:absolute;
    right:0px;
    top:-20px;
    
    font-size:10px;
    color: #000;
    font-family: sans-serif;
    
}

.post_caption a{
    text-decoration:none;
    color:#000;
}

.post_caption a:hover{
    text-decoration:underline;
}

.photo{
    position:absolute;
    top:12px;
    border:9px solid #fff;
    background-color:#fff;
    font-family:sans-serif;
    font-size:12px;
    line-height:16px;
    text-transform:uppercase;
    font-weight:bold;
}

.post.image .photo{
    top:16px;
}

.post.image .post_date{
    width:409px;
}

.post.audio .post_date{
    width:216px;
}

.photo img{
    position:relative;
    margin-bottom:5px;
}


.post_author{
    position:absolute;
    width:86px;
    height:122px;
    left:10px;
    top:8px;
    z-index:100;
}


.post.dvbbs .post_author{
    display:none;
}

.post.chris .post_author{
    right:10px;
    left:auto;
}

.post_name{
    width:49px;
    height:115px;
    background-image:url(/images/name_alex.gif);
    position:absolute;
}


.post.chris .post_name{
   background-image:url(/images/name_chris.gif); 
}

.post_social{
    width:30px;
    height:115px;
    position:absolute;
    margin-left:50px;
    padding-top:3px;
}



.post_title{
    position:absolute;
    color:#fff;
    font-size:12px;
    font-family:sans-serif;
    height: 20px;
    line-height:20px;
    width:450px;
    right:0px;
    top:162px;
    text-align:center;
    font-weight:lighter;
    text-transform:uppercase;
    
}

.post.chris .post_title{
    left:-60px;
    right:auto;
    
}

.post.audio .photo{
    margin-top:160px;
}

.post.audio .post_date{
    margin-top:155px;
}

.post.video .photo{
    margin-top:50px;
}

.post.video .post_date{
    margin-top:45px;
}




body.mobile .post_content, body.mobile .post.alex .post_content,body.mobile .post.chris .post_content {
    position:relative;
    margin:auto;
    left:auto !important;
    right:auto !important;
    
}