body{
    background-color:#000000;
}
.player{
    display:none;
}

.top_menu li{
    font-size:10px;
}

.track_menu .menu_head{
    font-size:12px;
    height:32px;
    color: #ccc;
    background-color:#0f0f0f;
    height:24px;
}

.track_menu .menu_head:hover{
    color:#fff;
}


.track_menu .menu_foot .menu_foot_item{
    color:#ccc;
    font-size:10px;
    background-color:#0f0f0f;
}

.track_menu .menu_foot .menu_foot_item:hover{
    color:#fff;
}

.hayley{
    color:#ccc;
    font-size:10px;
}


#vimeo_player_container{
    display:none;
}

.menu_foot .menu_foot_item{
    display:none;
    }
    
    
    .hide-ie{display: none;}