@import url(http://fonts.googleapis.com/css?family=Geo);


.clear {
    clear:both;
}

body {
    font-size:14px;
    font-family: Geo, sans-serif !important;
    background-color:#696969;
    background-color: #000;
    overflow:hidden;
}


html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {
    -webkit-text-size-adjust:none;
}

/* bottom right */


.blind{
    position:fixed;
    width:100%;
    height:100%;
    background-color:#000;
    z-index:90;
    display:none;
}

.close{
    position:absolute;
    top:10px;
    right: 5px;
    width:15px;
    height:14px;
    font-size:10px;
    font-weight:bold;
    font-family:arial;
    color:rgba(236, 233, 78, .9);
    cursor:pointer;
    text-transform:uppercase;
    z-index:100000;
}

.close:hover{

   color:rgba(255,255,255,1); 
}

.splash{
    position:fixed;
    width:100%;
    height:100%;
    z-index:200;
    text-align:center;
    opacity:1;
}

#splash_img{
    position:fixed;
    left:50%;
    margin-left: -250px;
    top:50%;
    margin-top: -95px;
    width:500px;
    z-index:1;
    display:none;
    
}


#loader{
    width:16px;
    height:16px;
    position:fixed;
    left:50%;
    top:50%;
    margin-top: 85px;
    margin-left:-8px;
    z-index:10000;
    opacity:.6;
    display:none;
    
}

span.up{
    position:relative;
    top:-2px;
}

.header{
    position:absolute;
    left:0px;
    top:0px;
    height:81px;
    width:242px;
    display:none;


}


.header .logo{
    width:242px;
    height:81px;
    background-image:url(/images/logo.png);
    position:relative;
    text-indent:-9999px;
    
    z-index:120;
    cursor:pointer;
    opacity:.75;
}


.header .logo.active{
    opacity: 1;
}



.bottom_right{
    width:200px;
    height:72px;
    position:fixed;
    right:0px;
    bottom:-80px;
    background-color:#2a2a2a;
    z-index:101;
}



.social{
    width:230px;
    height:18px;
    position:relative;
    float:left;
    margin-top:3px;
    margin-left:10px;
}

.social .social_item{
    position:relative;
    width:34px;
    height:17px;
    float:left;
    margin-right: 4px;
    text-align:center;
}

.social .social_item a{
    background-image:url(/images/social.png);
    text-indent:-9999px;
    display:block;
    width:34px;
    height:17px;
    background-repeat:no-repeat;
}

#social_facebook{
    background-position: -9px -26px;
    width:33px;
}

#social_facebook:hover{
    background-position: -9px -2px;
}

#social_twitter{
    background-position: -49px -26px;
}

#social_twitter:hover{
    background-position: -49px -2px;
}

#social_youtube{
    background-position: -89px -26px;
}

#social_youtube:hover{
    background-position: -89px -2px;
}

#social_soundcloud{
    background-position: -130px -26px;
    width: 33px;
    
}

#social_soundcloud:hover{
    background-position: -130px -2px;
}

#social_tumblr{
    background-position: -169px -26px;
}

#social_tumblr:hover{
    background-position: -169px -2px;
}

#social_itunes{
    background-position: -209px -26px;
}

#social_itunes:hover{
    background-position: -209px -2px;
}






.bottom_right .social .social_item.last{
    margin-right:0;
}


.contact{
    display:none;
    position:absolute;
    width:500px;
    left:50%;
    margin-left:-250px;
    color: #fff;
    text-align:center;
    line-height: 24px;
    z-index: 95;
    text-transform:uppercase;
    height:280px;
    margin-top: -220px;
    top:50%;
}

.contact h3{
    font-size: 14px;
    opacity: .9;
    color:#ECE94E;
}

.contact h4{
    margin-bottom:20px;

     font-size:16px;
}

.contact a{
    color:#fff;
    opacity: .75;
    text-decoration:none;
    font-size:16px;
    font-weight:normal;
}

.contact a:hover{
    opacity:1;
}


.legals{
    width:200px;
    height:100px;
    position:fixed;
    bottom:50px;
    left:50%;
    margin-left:-100px;
    color:#ECE94E;
}

.contact .small, .contact h6{
    font-size:14px;
    opacity:.75;
}
.contact h6{
    margin-top:60px;
}



.credits{
    display:none;
    position:absolute;
    width:400px;
    margin-top: 20px;
    left:50%;
    margin-left:-200px;
    color: #fff;
    text-align:center;
    line-height: 22px;
    z-index: 95;
    text-transform:uppercase;
    padding-top:30px;
}

.credits h3{
    font-size: 14px;
    opacity: .9;
    color:#ECE94E;
}

.credits h3.credits_title{
    font-size:15px;
}

.credits h4{
    margin-bottom:10px;
    font-size:15px;
    opacity:.8;
}

.credits a{
    display:block;
}
.credits a{
    color:#fff;
    opacity: .8;
    -webkit-transition-duration:.5sec;

    position:relative;
    text-decoration:none;
    font-size:15px; 
}

.credits a.twitter{
    margin-bottom:0px;
    display:inline;
    margin-left:4px;
}

.credits a:hover{
    opacity:1;
}

.underground{
    margin-top:40px;
}

.ya{
    margin-top:20px;
}

.kanary{
    font-size:28px;
    color: #ECE94E;
    margin-bottom:10px;
    margin-top:20px;
    text-indent:-9999px;
    width: 120px;
    height: 52px;
    background-image:url(/images/kanarylogo.png);
    margin-left:144px;
    
}




.addthis_toolbox{
    text-align:center;
    width: 150px;
    display:block;
    margin-left:121px;
    margin-top: -28px;
}


.download_lightbox{
    position:absolute;
    width:320px;
    height:200px;
    left:50%;
    top:50%;
    margin-left:-160px;
    margin-top:-100px;
    z-index:100 ;
    
    text-align:center;
    font-size:22px;
    color: #ece94e;
    text-transform:uppercase;
    
    display:none;
    padding-top:22px;
}

.download_lightbox h3, .download_lightbox a{
    margin-top: 16px;
    margin-bottom:16px;
    display:block;
}

.download_lightbox a{
    color: #848484;
    text-decoration:none;
    font-size:16px;
}

.download_lightbox a:hover{
    color: #f1f1f1;
}

.download_lightbox a.clicked{
    color:#ECE94E;
}

.download_lightbox a.share_title{
    margin-top:40px;
    display:block;
    cursor:default;
     color:#ECE94E;
    
}

.download_lightbox a.share_title:hover{
     color:#ECE94E;
}


ul.top_menu{
    position:fixed;
    width:180px;
    height:30px;
    top:4px;
    right:4px;
    color:#fff;
    z-index:2;
    text-align:right;
}


ul.top_menu li {
    display:inline;
    margin-left:4px;
    margin-right:4px;
    cursor:pointer;
    text-transform:uppercase;
    opacity:.5;
    z-index:2;
}

ul.top_menu li:hover{
    opacity:1;
    -webkit-transition-duration:1sec;
}



/* vimeo player */


#vimeo_player_container{
    position:absolute;
    left:0px;
    top:107px;
    width:100%;
    height:100%;
    z-index:-100;

    
}

#vimeo_player{
    margin:0;
    padding:0;
    
}



.hayley{
    position:absolute;
    left:-105px;
    top:24px;
    color:#fff;
    font-size:13px;
    text-transform:uppercase;
    background-color: rgba(17,17,17, .5);
    width:105px;
    height:15px;
    line-height:15px;
    text-align:center;
    display:none;
}

.featuring {
    font-size:10px;
}


#share_widget_container_1,#share_widget_container_2,#share_widget_container_3,
#share_widget_container_4,#share_widget_container_5,#share_widget_container_6{
    display:none;
    width:100%;
    position:relative;
    height:100%;
    
}

#share_widgets{
    position:fixed;
    z-index:1000;
    top:50%;
    left:50%;
    margin-left:-105px;
    margin-top:-12px;
    width:300px;
    height:24px;
}

.share_widget{
    float:left;
    width:120px;
}

#share_widget_twitter{
    width:63px;
}

.facebook_publish{
    cursor:pointer;
    float:left;
    width:57px;
    margin-left:-6px;
    margin-top:1px;
}





/* FACEBOOK  APP */



body.facebook {
 height:380px;
 width:520px;
}


body.facebook #blog_link{
    display:none;
}

body.facebook .track_menu{
    margin-top:70px !important;
    top:0px !important;
}

body.facebook .track_menu .menu_item{
    padding-bottom:2px;
    padding-top:2px;
}

body.facebook .player_gutter{
    width:154px !important;
}

body.facebook .logo{
    display:none;
}

body.facebook .track_menu .menu_item .menu_foot .hayley{
    top:18px;
}

body.facebook .strikethrough{
    top:12px !important;
}



body.facebook .contact p.spacer{
    display:none;
}

body.facebook .contact {
    margin-top:10px !important;
    top:0px !important;
}

body.facebook .contact h4{
    font-size:12px;
    margin-bottom: 4px;
}


body.facebook .contact h3{
    font-size:13px;
    margin-bottom: 2px;
}
